body {
  margin: 0px;
  padding: 0px;
  font-family: "Montserrat", sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 80px;
  width: 100%;
  background-color: #000000;
}
header .left-options {
  display: flex;
  text-align: center;
  font-size: 14px;
  color: #fff;
}
header .left-options .logo {
  display: flex;
  align-items: center;
}
header .left-options .logo h2 {
  padding-left: 15px;
}
header .left-options .logo img {
  width: 45px;
  height: 45px;
}
header .right-options .request, header .right-options .sign-in {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  font-size: 17px;
  border-radius: 7px;
  border: 2px solid #fff;
  background: #191a1b;
  width: 200px;
  height: 45px;
}
header .right-options .sign-in {
  margin-left: 20px;
  width: 150px;
  background: #4C5FD5;
  border-style: none;
}

main .banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  background-color: #dadbf1;
}
main .banner h1 {
  font-size: 60px;
  font-weight: 500;
}
main .banner input {
  width: 600px;
  height: 50px;
  border-radius: 5px;
  border: 1px solid #000000;
  box-shadow: 5px 10px 18px rgba(135, 135, 135, 0.3450980392);
  font-size: 18px;
  padding-left: 15px;
}

section {
  padding: 0 120px;
}
section .services-container {
  display: flex;
  flex-wrap: wrap;
  padding: 60px 0;
}
section .services-container .service {
  display: flex;
  justify-content: center;
  width: 50%;
  padding-top: 60px;
}
section .services-container .service img {
  -o-object-fit: fill;
     object-fit: fill;
  height: 100px;
  width: 80px;
}
section .services-container .service .description {
  width: 60%;
  padding-left: 25px;
}
section .services-container .service .description h3 {
  margin: 0;
  font-size: 21px;
}
section .services-container .service .description p {
  font-size: 18px;
}
section .services-container .service .description a {
  text-decoration: none;
  color: #4C5FD5;
}
section .services-container .service .description h5 {
  font-size: 15px;
}

footer {
  display: flex;
  justify-content: space-evenly;
  padding: 0 60px;
  background: #000000;
  color: #fff;
}
footer .abstract, footer .design, footer .company, footer .community, footer .resources {
  padding-right: 25px;
  margin: 40px 0;
}
footer .abstract h4, footer .design h4, footer .company h4, footer .community h4, footer .resources h4 {
  margin: 20px 0;
  font-size: 22px;
}
footer .abstract p, footer .design p, footer .company p, footer .community p, footer .resources p {
  margin: 5px 0;
}
footer .company h6 {
  font-size: 15px;
  margin-top: 30px;
  margin-bottom: 0;
}
footer .design {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 20%;
}

@media (max-width: 415px) {
  header .left-options {
    display: -webkit-inline-box;
    padding-left: 20px;
  }
  header .left-options h2 {
    font-size: 15px;
  }
  header .left-options .logo img {
    width: 30px;
    height: 30px;
  }
  header .left-options .logo h2 {
    font-size: 15px;
  }
  header .right-options {
    opacity: 0;
  }
  main .banner h1 {
    font-size: 30px;
    text-align: center;
  }
  main .banner input {
    width: 300px;
  }
  main section {
    padding: 0 20px;
  }
  main section .services-container {
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 30px 0;
  }
  main section .services-container .service {
    width: 100%;
    padding-top: 30px;
  }
  main section .services-container .service img {
    height: 80px;
    width: 60px;
  }
  main section .services-container .service .description p {
    font-size: 15px;
  }
  main section .services-container .service .description h3 {
    font-size: 18px;
  }
  footer {
    flex-direction: column;
  }
  footer .abstract, footer .resources, footer .community, footer .company, footer .design {
    width: 50%;
  }
}/*# sourceMappingURL=style.css.map */