$primary-color: #dadbf1;
$secondary-color: #4C5FD5;
$tertiary-color: #000000;
$quaternary-color: #fff;
$font-stack: 'Montserrat', sans-serif;
$header-size: 14px;

body {
  margin: 0px;
  padding: 0px;
  font-family: $font-stack;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 60px;
  height: 80px;
  background-color: $tertiary-color;

  .left-options {
    display: flex;
    text-align: center;
    font-size: $header-size;
    color: $quaternary-color;

    .logo {
      display: flex;
      align-items: center;

      h2 {
        padding-left: 15px;
      }

      img {
        width: 45px;
        height: 45px;
      }
    }
  }

  .right-options {
    .request {
      color: #fff;
      font-family: $font-stack;
      cursor: pointer;
      font-size: 17px;
      border-radius: 7px;
      border: 2px solid #fff;
      background: #191a1b;
      width: 200px;
      height: 45px;
    }

    .sign-in {
      @extend .request;
      margin-left: 20px;
      width: 150px;
      background: $secondary-color;
      border-style: none;
    }
  }
}

main {
  .banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    background-color: $primary-color;

    h1 {
      font-size: 60px;
      font-weight: 500;
    }

    input {
      width: 600px;
      height: 50px;
      border-radius: 5px;
      border: 1px solid #000000;
      box-shadow: 5px 10px 18px #87878758;
      font-size: 18px;
      padding-left: 15px;
    }
  }
}

section {
  padding: 0 120px;

  .services-container {
    display: flex;
    flex-wrap: wrap;
    padding: 60px 0;

    .service {
      display: flex;
      justify-content: center;
      width: 50%;
      padding-top: 60px;

      img {
        object-fit: fill;
        height: 100px;
        width: 80px;
      }

      .description {
        width: 60%;
        padding-left: 25px;

        h3 {
          margin: 0;
          font-size: 21px;
        }

        p {
          font-size: 18px;
        }

        a {
          text-decoration: none;
          color: $secondary-color
        }

        h5 {
          font-size: 15px;
        }
      }
    }
  }
}
footer{
  display: flex;
  justify-content: space-evenly;
  padding: 0 60px;
  background: $tertiary-color;
  color: $quaternary-color;
  .abstract{
    padding-right: 25px;
    margin: 40px 0;
    h4{
      margin: 20px 0;
      font-size: 22px;
    }
    p{
      margin: 5px 0;
    }
  }
  .resources{
    @extend .abstract;
  }
  .community{
    @extend .abstract;
  }
  .company{
    @extend .abstract;
    h6{
      font-size: 15px;
      margin-top: 30px;
      margin-bottom: 0;
    }
  }
  .design{
    @extend .abstract;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 20%;
  }
}
//Media Queries
@media(max-width:415px){
  header{
    padding: 0 25px;
    .left-options{
      h2{
        font-size: 15px;
      }
      .logo{
        img{
          width: 30px;
          height: 30px;
        }
        h2{
          font-size: 15px;
        }
      }
    }
  }
}